@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
	background: #111;
	font-family: "Montserrat";
	/* text-align: center;  */
}

.logo > img {
	width: 300px;
	height: auto;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	margin: -80px auto;
 -webkit-animation: animate 10s ease;
 animation: animate 10s ease;
}

@-webkit-keyframes animate {
  0%{
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
  }
  60%{
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
  }
}

.card {
	perspective: 1000;
	width: 350px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	text-align: center;
	
	transform: translate(-50%, -50%);
}

.card .flip {
	transition: 0.9s;
	transform-style: preserve-3d;
	position: relative;
	width: 100%;
	height: 100%;
	margin: -25px auto;
}

.card .flip .front {
	z-index: 2;
}

.card .flip .front,
.card .flip .back {
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}


.card .flip .front:before,
.card .flip .back:before {
	transition: all 0.3s ease;		
	border-color: transparent;
	content: "";
	display: inline-block;
	position: absolute;
	bottom: -24px;
}

#vertical-flip:hover .flip,
#vertical-flip.hover .flip {
	transform: rotateX(180deg);
	transition: all 1s ease;
}

#vertical-flip .front {
	background: transparent;
	filter: saturate(2);
	z-index: 1;
}

#vertical-flip .back {
	transform: rotateX(180deg);
	background: transparent;
	color: #eee;
}


.box-input {
	position: relative;
	text-align: center;
	
	top: 90px;
}

.input {
	outline: 0 !important;
  border-width: 0 0 1px 0 !important;
  border-color: #eee !important;
  margin: 0 auto;
}

.input,
.button {

	padding: 10px 3%;
	background: transparent;
	font-size: 15px;
	width: 300px;
	height: 25px;
	font-family: "Montserrat";
	border: 1px solid #eee;
	position: relative;
	color: #eee;
	margin-bottom: 15px;
}
.input:focus{
	border-bottom: 2px solid rgb(28, 158, 218) ;
	background: grey;
}
::-webkit-input-placeholder {
  color: #ddd !important;
  font-family: FontAwesome;
  font-size: 16px;
}


.button {
	width: 325px;
	height: 40px;
	margin-top: 10px;
	background: transparent;
	text-align: center;
	cursor: pointer;
	color: #eee;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 1s ease;
}

.button:hover {
	background: #D50000;
	border: none;
	transition: all 1.5s ease;
}


/* input css */
:root{
	--primary: #11998e;
    --secondary: #38ef7d;
    --white: #fff;
     --gray: #9b9b9b;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  /* margin-top: 10px; */
  width: 300px;
  height: 25px;
  
  background: red;
}

.form__field {
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  background: purple;
  transition: border-color 0.2s;
  padding: 10px 3%;
  background: transparent;
  font-size: 15px;
  width: 300px;
  height: 25px;
  font-family: "Montserrat";
  position: relative;
  color: #eee;
	
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
}
.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary),var(--secondary));
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: var(--primary);
		font-weight:700;    
}

/* reset input */
.form__field:required , .form__field:invalid{
   box-shadow:none; 
}

